<div class="card card-styling">
    <img class="card-img-top" src="{{this.product.img_url}}" alt="Example {{this.product.id}}">
    <div class="card-body">
        <h5 class="title">{{this.product.title}}</h5>
        <p class="description">{{this.product.description}}</p>
        <div>
            <p class="cart-styling"><i class="fas fa-shopping-cart"></i> Añadir al carrito</p>
            <button class="btn-styling" type="button" class="btn btn-primary details-btn">Detalles</button>
        </div>
    </div>
</div>