<h1 class="main-title">
    <br/>ÚLTIMA <br/> INFORMÁTICA
</h1>

<div class="container">
    <div class="row">
        <div class="col jumbo-placement">
            <div class="jumbotron text-center jumbo-styling">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure do</p>
                <br/>
                <app-worker-carousel></app-worker-carousel>
                <br/><br/>
                <div class="requirements">
                    <h2>Requisitos para esta App:</h2>
                    <p>- Aliquam faucibus purus in massa</p>
                    <p>- Iaculis at erat pellentesque</p>
                    <p>- Non blandit massa enim</p>
                    <p>- Facilisi morbi tempus iaculis</p>
                </div>
                <br/><br/><br/>
                <button class="btn btn-primary use-button-size" type="button">ÚSALA AQUÍ</button>
                <br/><br/><br/><br/><br/>
                <app-tyc></app-tyc>
            </div>
        </div>
    </div>
</div>