<div id="workersCarousel" class="carousel slide" data-ride="carousel">
    <div id="carousel-content" class="carousel-inner">
    </div>
    <a class="carousel-control-prev" href="#workersCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#workersCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
